<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ region.LocationName }}</title>
    <link rel="stylesheet" href="../../story_styling/styles.css">
</head>
<body>
    <h1>Chapter: {{ region.LocationName }}</h1>

    <section>
        <h2>Region Details</h2>
        <p>{{ region.regionDetails.description }}</p>
        <p>{{ region.regionDetails.lore }}</p>
    </section>

    {% if region.locations %}
    <section>
        <h2>Locations</h2>
        {% for loc in region.locations.values() %}
        <div>
            <h3>{{ loc.name }}</h3>
            <img src="../../{{ loc.illustration }}" alt="Location Image" class="{% if loop.index is odd %}image-left{% else %}image-right{% endif %}">
            <p>{{ loc.description }}</p>
            <p>{{ loc.lore }}</p>
        </div>
        {% endfor %}
    </section>
    {% endif %}

    {% if region.characters %}
    <section>
        <h2>Characters</h2>
        {% for char in region.characters.values() %}
        <div>
            <h3>{{ char.name }}</h3>
            <img src="../../{{ char.portrait }}" alt="Character Portrait" class="{% if loop.index is odd %}image-left{% else %}image-right{% endif %}">
            <p>{{ char.description }}</p>
            <p>{{ char.personality }}</p>
        </div>
        {% endfor %}
    </section>
    {% endif %}

    {% if region.random_encounter_table %}
    <section>
        <h2>Random Encounters</h2>
        <table>
            <tr>
                <th>Encounter Number</th>
                <th>Description</th>
                <th>Opportunities</th>
            </tr>
            {% for encounter in region.random_encounter_table.values() %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ encounter.encounter.description }}</td>
                <td>{% if encounter.encounter.opportunity %}{{ encounter.encounter.opportunity }}{% else %}None{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
    {% endif %}

    {% if region.quests %}
    <section>
        <h2>Quests</h2>
        <table>
            <tr>
                <th>Quest Title</th>
                <th>Description</th>
            </tr>
            {% for quest in region.quests.values() %}
            <tr>
                <td>{{ quest.title }}</td>
                <td>{{ quest.description }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
    {% endif %}
    
</body>
</html>

